* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	color: #212327;
	font: 500 16px Oswald, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #ffffff;
}
img {
	max-width: 100%;
}
ul li {
	list-style-type: none;
}
a {
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
}
button {
	border: 0;
	cursor: pointer;
}
.hidden {
	display: none;
}
.container {
	max-width: 1492px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-main-wrap {
	display: flex;
	flex-wrap: wrap;
}
.nav__item {
	display: inline-block;
	width: 157px;
	letter-spacing: 0.32px;
	text-align: center;
}
.nav__link {
	display: block;
	padding: 49px 0 41px;
}
.nav__link:hover {
	border-bottom: 3px solid #ee3b33;
	transition: 0.3s;
}
.nav__link_selected {
	border-bottom: 3px solid #ee3b33;
}
.user-menu {
	position: relative;
	margin-left: auto;
	padding-right: 80px;
	font-size: 12px;
	letter-spacing: 0.24px;
	text-align: center;
}
.user-menu::after {
	position: absolute;
	content: "\e986";
	bottom: 45px;
	right: 40px;
	font-family: 'icomoon';
	font-size: 21px;
}
.user-menu:hover::after {
	color: red;
	transition: 0.3s;
}
.user-menu__item {
	display: inline-block;
}
.user-menu__item:nth-child(1n+2) {
	margin-left: 25px;
}
.user-menu__link {
	display: block;
	padding: 52px 0 41px;
}
.user-menu__link:hover {
	color: #ee3b33;
	transition: 0.3s;
}
.section-product-list {
	border-top: 1px solid #dadfe6;
	border-bottom: 1px solid #dadfe6;
}
.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1285px;
	margin-left: 100px;
	text-align: center;
}
.product {
	margin-right: 5px;
	padding-bottom: 16px;
	border-bottom: 3px solid transparent;
}
.product:hover {
	border-bottom: 3px solid #ee3b33;
	transition: 0.3s;
	cursor: pointer;
}
.product_selected {
	border-bottom: 3px solid #ee3b33;
}
.product__img {
	padding: 23px 0 11px;
}
.product__name {
	font-size: 13px;
}
.description {
	position: relative;
	display: flex;
	max-width: 1230px;
	margin: 0 auto;
	padding-top: 148px;
	background-image: url(../img/desc_power.png);
	background-size: 601px 198px;
	background-position: 44px 104px;
	background-repeat: no-repeat;
}
.description::before {
	position: absolute;
	content: "";
	width: 32px;
	height: 32px;
	top: 174px;
	left: 349px;
	background-image: url(../img/desc_plus.png);
	background-repeat: no-repeat;
}
.description__img {
	position: relative;
	max-width: 737px;
}
.description__img::before {
	position: absolute;
	content: "";
	width: 32px;
	height: 32px;
	top: 205px;
	right: 98px;
	background-image: url(../img/desc_plus.png);
	background-repeat: no-repeat;
}
.description__img::after {
	position: absolute;
	content: "";
	width: 32px;
	height: 32px;
	top: 213px;
	left: 42px;
	background-image: url(../img/desc_plus.png);
	background-repeat: no-repeat;
}
.decription__info {
	max-width: 440px;
}
.description__title-wrap {
	display: flex;
	align-items: center;
	margin-top: -50px;
}
.description__title {
	margin-right: 15px;
	font-size: 75px;
	line-height: 0;
}
.description__item {
	display: inline-block;
	padding: 0 12px;
}
.description__item:hover {
	color: #ee3b33;
	transition: 0.3s;
	cursor: pointer;
}
.description__item_selected {
	color: #ee3b33;
	cursor: default !important;
}
.description__item_border {
	border-left: 2px solid #e5e7ed;
}
.description__cost {
	display: block;
	color: #81848a;
	font-size: 13px;
	margin-bottom: 20px;
}
.description__cost_price {
	display: block;
	margin-top: 5px;
	color: #212327;
	font-size: 25px;
}
.description-color {
	margin-bottom: 32px;
	margin-right: 26px;
}
.description-color_btn {
	border: 1px solid #81848a;
}
.description-color_btn:hover {
	border: 1px solid #ee3b33;
	transition: 0.3s;
}
.description-color_selected {
	border: 1px solid #ee3b33;
	cursor: default;
}
.description__btn_blue,
.description__btn_grey,
.description__btn_yellow {
	position: relative;
	width: 23.5px;
	height: 23.5px;
	margin-right: 17px;
	border-radius: 50%;
	background-color: transparent;
}
.description__btn_blue::after,
.description__btn_grey::after,
.description__btn_yellow::after {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top: 2px;
	left: 2px;
	background-repeat: no-repeat;
}
.description__btn_blue::after {
	background-image: url(../img/2016_YZF-R1/btn_blue.png);
}
.description__btn_grey::after {
	background-image: url(../img/2016_YZF-R1/btn_grey.png);
}
.description__btn_yellow::after {
	background-image: url(../img/2016_YZF-R1/btn_yellow.png);
}
.main-text {
	color: #212327;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 400;
	text-transform: none;
}
.description__text {
	margin-bottom: 30px;
	font-size: 17px;
	line-height: 28px;
}
.description__btn {
	width: 210px;
	height: 60px;
	border: 3px solid #ee3b33;
	border-radius: 4px;
	text-align: center;
	font-weight: 500;
}
.description__btn:hover {
	box-shadow: 1px 1px 10px #ee3b33;
	transition: 0.3s;
}	
.description__btn_red {
	margin-right: 10px;
	color: #ffffff;
	background-color: #ee3b33;
}
.description__btn_white {
	color: #ee3b33;
	background-color: transparent;
}
.section-features {
	padding: 124px 0 108px;
}
.features-nav {
	margin: 13px 0 86px;
	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
	font-size: 15px;
}
.features__list {
	display: flex;
	max-width: 1018px;
	margin: 0 auto;
}
.features__item {
	position: relative;
	display: inline-block;
	margin: 0 170px 0 15px;
	padding-bottom: 22px;
	cursor: pointer;
}
.features__item_selected {
	cursor: default;
}
.features__item::before,
.features__item_selected::before,
.features__item_list::before,
.features__item_energy::before,
.features__item_scale::before,
.features__item_speed::before,
.features__item_infinity::before {
	position: absolute;
	top: -37px;
	left: 50%;
	transform: translate(-50%);
	font-family: 'icomoon';
	font-size: 23px;
}
.features__item_list::before {
	content: "\e9ba";
}
.features__item_energy::before {
	content: "\e9b5";
}
.features__item_scale::before {
	content: "\e9ba";
}
.features__item_scale::before {
	content: "\ea82";
}
.features__item_speed::before {
	content: "\e9a6";
}
.features__item_infinity::before {
	content: "\ea2f";
}
.features__item:hover::before {
	color: #ee3b33;
	transition: 0.3s;
}
.features__item::after,
.features__item_selected::after {
	position: absolute;
	content: "";
	bottom: -6px;
	left: 50%;
	transform: translate(-50%);
	width: 14px;
	height: 13px;
	background-color: #c8c8c8;
	border-radius: 50%;
}
.features__item:hover::after {
	background-color: #ee3b33;
	transition: 0.3s;
}
.features__item_selected::after {
	background-color: #ee3b33;
	cursor: default;
}
.features__item_selected::before {
	color: #ee3b33;
	cursor: default;
}
.features-desc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.features-desc__info {
	max-width: 420px;
	margin-left: 85px;
}
.features-desc__title {
	margin-bottom: 11px;
	font-size: 17px;
}
.features-desc__text {
	font-size: 15px;
	line-height: 25px;
}
.features-desc__text_first {
	margin-bottom: 46px;
}
.section-accessory {
	padding: 89px 0;
}
.accessory {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 787px;
	margin: 0 auto;
	text-align: center;	
}
.accessory-box {
	margin-right: 32px;
}
.accessory__info {
	margin-top: 23px;
	padding-top: 3px;
}
.accessory__info_price {
	display: block;
	padding-top: 5px;
	color: #8d9095;
	font-size: 14px;
}
.footer-main {
	background-color: #000000;
}
.footer-site-nav {
	padding: 40px 0 35px;
	background-color: #212327;
}
.site-nav {
	display: flex;
	color: #787e89;
	font-size: 12px;
	font-weight: 400;
	line-height: 27px;
}
.footer-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 765px;
	margin-left: 135px;
	padding-right: 52px;
}
.footer-nav__item:hover {
	color: #adb1b7;
	transition: 0.3s;
}
.site-nav__img {
	margin-left: 80px;
	align-self: center;
}
.footer-rights {
	padding: 20px 0;
	color: #787e89;
	font-size: 10px;
	background-color: #191a1e;
}
.footer-rights-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 135px;
}
.rights-list {
	margin-right: 180px;
}
.rights__item {
	display: inline-block;
}
.rights__item:nth-child(1n+2) {
	margin-left: 24px;
}
.rights__item:hover {
	color: #adb1b7;
	transition: 0.3s;
}
#animatedModal,
#animatedModalLogin {
	margin-top: -350px;
	padding: 50px 60px;
	border: 1px solid #ee3b33;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
}
.sitelogin__input {
	display: block;
	width: 210px;
	margin-bottom: 10px;
	padding: 5px 0 5px 5px;
	border: 1px solid #999999;
	border-radius: 4px;
}
.sitelogin__input_last {
	margin-bottom: 0;
}
.sitelogin__input:focus {
	border: 1px solid #000000;
}
.sitelogin-remember {
	display: block;
	width: 120px;
	margin-right: auto;
}
.sitelogin-remember__text {
	font-size: 14px;
	line-height: 0;
	color: #777777;
	text-transform: none;
	cursor: pointer;
}
.sitelogin-remember__text:hover {
	color: #555555;
	transition: 0.3s;
}
.sitelogin-remember_checkbox + .sitelogin-remember_icon {
	position: absolute;
	content: "";
	left: 62px;
	top: 128px;
	width: 14px;
	height: 14px;
	border: 1px solid #777777;
}
.sitelogin-remember_checkbox:checked + .sitelogin-remember_icon::before {
	position: absolute;
	content: "";
	top: 3.5px;
	left: 3.5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #000000;
}
.sitelogin__btn {
	display: block;
	border-width: 2px;
	height: 40px;
	margin-top: 15px;
}
.sitelogin__btn:hover {
	color: #ffffff;
	background-color: #ee3b33;
	transition: 0.3s;
}
#animatedModalHamburger {
	width: 100%;
	margin-top: -615px;
	text-align: left;
	color: #ffffff;
	background-color: rgba(9, 9, 9, 0.1);
}
.modal-hamburger__link {
	margin: 0;
	font-size: 16px;
}
.modal-hamburger__list {
	margin: 15px 0;
}
.modal-hamburger__item {
	padding: 5px 0;
}
.hamburger-nav {
	font-size: 16px;
}
.hamburger-user {
	font-size: 14px;
}
.hamburger-nav:active,
.hamburger-user:active {
	border-bottom: 3px solid #ee3b33;
}
@media (max-width: 1200px) {
	.nav__item {
		max-width: 120px;
		font-size: 13px;
	}
	.user-menu {
		margin-left: 15px;
		padding-right: 20px;
		font-size: 10px;
	}
	.user-menu::after {
		right: -12px;
		font-size: 18px; 
	}
	.user-menu__item {
		margin-left: 10px;
		padding-right: 2px;
	}
	.product__img {
		max-width: 80%;
	}
	.description {
		background-size: 476px 153px;
   		background-position: 45px 66px;
	}
	.description::before {
 	   top: 121px;
       left: 274px;
	}
	.description__btn {
		width: 175px;
	}
	.features__item {
		margin-right: 155px;
	}
	.footer-nav,
	.footer-rights-wrap {
		margin-left: 100px;
	}
	.rights-list,
	.site-nav__img {
		margin-right: 5px;
	}
}
@media (max-width: 997px) {
	.nav__item {
		max-width: 150px;
	}
	.user-menu {
		margin: 0 auto;
	}
	.user-menu__link {
		padding: 20px 0;
	}
	.user-menu::after {
		top: 15px;
	}
	.product {
		max-width: 140px;
	}
	.product-list {
		margin-left: 0;
	}
	.description__img {
		max-width: 435px;
		padding-top: 70px;
	}
	.description {
		background-size: 315px 90px;
    	background-position: 20px 145px;
	}
	.description::before {
       top: 170px;
       left: 165px;
	}
	.description__img::before {
    top: 220px;
    right: 50px;
	}
	.features__item {
		margin-right: 100px;
	}
	
	.features-desc__img {
		max-width: 265px;
		padding-top: 30px;
	}
	.features-desc__info {
    	max-width: 354px;
    	margin-left: 40px;
	}
	.footer-nav,
	.footer-rights-wrap {
		margin-left: 10px;
	}
}
@media (max-width: 767px) {
	*:active {
		outline: none;
	}
	#animatedModal,
	#animatedModalLogin,
	#animatedModalHamburger {
	margin-top: 0;
	}
	#animatedModalLogin {
	margin-top: 0;
	}
	.user-menu::after {
		display: none;
	}
	.nav-main {
		max-width: 305px;
		padding-top: 15px;
	}
	.nav__link {
		max-width: 120px;
		margin: 0 auto;
		padding: 10px 0;
	}
	.description {
		flex-direction: column;
		padding-top: 25px;
		background-size: 300px 75px;
    	background-position: 55px 18px;
	}
	.description__img {
		padding-top: 25px;
	}
	.description::before {
       top: 45px;
       left: 192px;
	}
	.description__img::before {
    	top: 220px;
	}
	.description__title-wrap {
		margin: 0;
		align-items: center;
	}
	.description__title {
		margin: 0 auto;
		font-size: 40px;
		line-height: 1.5;
	}
	.description__cost_price {
		margin-top: 0;
	}
	.description-color,
	.main-text {
		margin: 20px 0;
	}
	.main-text {
		text-align: justify;
	}
	.description-wrap-btn {
		display: block;
		width: 85%;
		margin: 0 auto;
	}
	.section-features {
		padding: 80px 0 0;
	}
	.features-nav {
		margin: 5px auto;
	}
	.features__item {
		margin: 0 25px;
		font-size: 12px;
	}
	.features-desc__img {
		max-width: 220px;
	}
	.features-desc__title {
		text-align: center;
	}
	.features-desc__info {
		max-width: 95%;
		margin-left: 0;
	}
	.section-accessory {
		padding: 20px 0;
	}
	.accessory {
		display: block;
	}
	.accessory-box {
		max-width: 150px;
		margin: 0 auto 20px;
	}
	.accessory__info {
		margin-top: 10px;
	}
	.footer-nav {
		margin-left: 0;
		padding: 0 0 10px;
		font-size: 11px;
	}
	.footer-site-nav {
		padding: 10px 0;
	}
	.site-nav {
		flex-wrap: wrap;
		justify-content: center;
	}
	.site-nav__img {
		margin: 0 auto;
	}
	.footer-rights-wrap {
		margin-left: 0;
	}
	.copywrite-text {
		order: 2;
		margin: 10px auto 0;
	}
}	
@media (max-width: 480px) {
	.hamburger {
		display: block;
		margin-left: auto;	
	}
	.hamburger__btn {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		margin-top: 10px;
		border-top: 5px solid #ee3b33;
		border-bottom: 5px solid #ee3b33;
		background-color: transparent;
	}
	.hamburger__btn::before {
		position: absolute;
		content: "";
		width: 30px;
		height: 5px;
		top: 7px;
		left: 0px;
		background-color: #ee3b33;
	}
	.hamburger__btn:focus,
	.hamburger__btn:active {
		outline: 0;
	}
	.nav-main,
	.user-menu {
		display: none;
	}
	.header-img {
		max-width: 50px;
	}
	.product {
		max-width: 80px;
	}
	.description {
		padding-top: 20px;
		background-size: 280px 75px;
    	background-position: 5px 10px;
	}
	.description::before {
       top: 28px;
       left: 132px;
	}
	.description__img::before {
    	top: 155px;
    	left: 240px;
	}
	.description__img::after {
    	top: 148px;
    	left: 30px;
	}
	.description__title {
		margin: 0 0 0 auto;
		font-size: 30px;
	}
	.description__item {
		font-size: 14px;
	}
	.description__cost {
		width: 135px;
		margin: 0 auto;
		text-align: center;
	}
	.description-color {
		width: 135px;
		margin: 10px auto 0;
		text-align: center;
	}
	.description-color_btn {
		margin-right: 5px;
	}
	.description-color_btn:last-child {
		margin-right: 0;
	}
	.main-text {
		max-width: 300px;
		margin: 10px 0;
	}
	.description__text {
		margin: 10px 0;
	}
	.description__btn {
		width: 112px;
		font-size: 13px;
	}
	.features__item {
		width: 59px;
		margin: 0 0;
		text-align: center;
		font-size: 11px;
	}
	.features__item::before {
		font-size: 19px;
	}
	.features-desc__img {
		padding-top: 20px;
		max-width: 220px;
	}
	.section-accessory {
		padding: 10px 0;
	}
	.accessory-box:last-child {
		margin-bottom: 0;
	}
	.footer-nav {
		max-width: 250px;
		justify-content: space-between;
		text-align: left;
		font-size: 11px;
	}
	.footer-nav-wrap:nth-child(1n+3) {
		padding-top: 10px;
	}
	.footer-nav-wrap:nth-child(2) {
		padding-right: 8px;
	}
	.footer-rights {
		padding: 10px 0;
	}
	.rights-list {
		max-width: 270px;
		margin: 0 auto;
	}
	.rights__item {
		margin-left: 5px;
	}
	.rights__item:nth-child(4) {
		padding-left: 20px;
	}
}
